<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/information.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
    <link href="../css/userManagement.css" rel="stylesheet">
    <link href="../css/shop.css" rel="stylesheet">
    <link href="../css/preview.css" rel="stylesheet">
    <link href="../css/viewItem.css" rel="stylesheet">
    <link href="../css/cart.css" rel="stylesheet">
    <link href="../css/cart-order.css" rel="stylesheet">
    <link href="../css/notification.css" rel="stylesheet">
    <link href="../css/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand home-button no-select" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" action="/search" method="GET">
                    <input class="form-control-sm me-2 search-bar" type="text" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <% if(currentUser == null){ %>
                        <li class="nav-item">
                            <a class="nav-link no-select" href="/login">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link no-select" href="/signup">Đăng ký</a>
                        </li>
                    <% } %>
                    <% if(currentUser != null){ %>
                        <li class="nav-item">
                            <a class="nav-link no-select" href="/shop/dashboard">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link no-select" href="/purchase/cart">Giỏ hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link no-select" href="/information/notification">Thông báo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link no-select" href="/information/home">Thông tin cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link no-select" href="/logout">Đăng xuất</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row">