<%- include("../_partials/_header") %>

    <div class="col-md-2">
        <div class="p-3 position-sticky vertical-menu" style="top: 6rem;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item nav-item-info">
                    <a class="nav-link link-dark no-select" href="/order/all">Tất cả đơn hàng</a>
                </li>
                <li class="nav-item nav-item-info">
                    <a class="nav-link link-dark no-select" href="/order/confirming">Đơn hàng chờ xác nhận</a>
                </li>
                <li class="nav-item nav-item-info">
                    <a class="nav-link link-dark no-select" href="/order/processing">Đơn hàng đang xử lý</a>
                </li>
                <li class="nav-item nav-item-info">
                    <a class="nav-link link-dark no-select" href="/order/completed">Đơn hàng hoàn tất</a>
                </li>
                <li class="nav-item nav-item-info">
                    <a class="nav-link link-dark no-select" href="/order/canceled">Đơn hàng bị hủy</a>
                </li>
            </ul>
        </div>
    </div>