<%- include("../_partials/_shop") %>

    <div class="col-md-9">
        <form method="POST" action="/shop/create" class="personal-form" enctype="multipart/form-data">
            <% if(info && info.length > 0){ %>
                <div class="alert alert-info alert-information" role="alert">
                    <%= info %>
                </div>
            <% } %>
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-information" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <h1 class="no-select text-center">TẠO SHOP MỚI</h1>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label no-select">Tên shop</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="shopName">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label no-select">Ảnh đại diện shop</label>
                <div class="col-sm-9">
                    <input accept="image/*" type="file" class="form-control" name="image" onchange="imgInput(event)">
                </div>
            </div>
            <div class="row mb-3 hidden" id="img_div">
                <label for="inputEmail3" class="col-sm-3 col-form-label no-select"></label>
                <div class="col-sm-9 img-circle">
                    <img id="img" src="#" width="300px">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-3 col-form-label no-select">Mô tả</label>
                <div class="col-sm-9">
                    <textarea class="form-control" name="shopInformation" rows="5"></textarea>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-5"></div>
                <button type="submit" class="btn btn-primary col-1">Save</button>
            </div>
        </form>
    </div>
    <script src="../js/shop/imgInput.js"></script>

<%- include("../_partials/_footer") %>